<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676409224252-ces055v3lo8ul4tsuvdsvcp01pc0j8u1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676409224252-ces055v3lo8ul4tsuvdsvcp01pc0j8u1</string>
	<key>API_KEY</key>
	<string>AIzaSyApju1vrNpbptyPW-rVo98PYhWVpbzMPSo</string>
	<key>GCM_SENDER_ID</key>
	<string>676409224252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uber</string>
	<key>PROJECT_ID</key>
	<string>uber-e31ba</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-e31ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676409224252:ios:49720eb1799bf7191ba739</string>
</dict>
</plist>